@font-face {
  font-family: api-icon;
  font-display: swap;
  src: url("../fonts/api-icon.woff") format("woff"), url("../fonts/api-icon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato-i;
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato-bl;
  font-display: swap;
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato-b;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato-r;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input:focus {
  border: none;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:focus {
  border: none;
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

* img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  padding: 0;
}

[class^="i-"]::before,
[class*=" i-"]::before {
  font-family: "api-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.i-arrow:before {
  content: "\e90f";
}

.i-facebook:before {
  content: "\e903";
}

.i-google:before {
  content: "\e904";
}

.i-heart:before {
  content: "\e905";
}

.i-in:before {
  content: "\e906";
}

.i-insta:before {
  content: "\e907";
}

.i-search:before {
  content: "\e909";
}

.i-star:before {
  content: "\e90a";
}

.i-twitter:before {
  content: "\e90b";
}

.i-viber:before {
  content: "\e90c";
}

.i-youtube:before {
  content: "\e90e";
}

.i-circle-right:before {
  content: "\ea42";
}

.i-circle-left:before {
  content: "\ea44";
}

body {
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  font-family: Metropolis-r serif;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.mob-menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 110%;
  background: #0a1521ee;
  background: rgba(10, 21, 33, 0.933);
  overflow: auto;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.mob-menu__body {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.mob-menu.active {
  left: 0%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.mob-menu.active .canvas-circle {
  display: block;
}

.header__fixed {
  position: fixed;
  max-width: 1500px;
  top: 0;
  z-index: 10;
}

.ibg {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ibg img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
}

.header {
  background: #ce0000;
  padding: 25px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato-bl;
  font-size: 30px;
  letter-spacing: -0.75px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover {
  color: #c3cf13;
}

.header__logo img {
  display: block;
  padding-right: 13px;
}

.header__logo span {
  font-family: Lato-i;
}

.header__icon {
  font-size: 23px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__icon:hover {
  color: #c3cf13;
}

.header__icon:not(:first-child) {
  margin-left: 33px;
}

.fullscreen {
  background: url(../img/fulls-bg.jpg) center/cover no-repeat;
  height: 90vh;
  min-height: 600px;
}

.fullscreen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.fullscreen__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30.3125%;
          flex: 0 0 30.3125%;
  background: #000000a4;
  padding: 60px 100px 0px 0px;
}

.fullscreen__list {
  text-align: right;
}

.fullscreen__item:not(:first-child) {
  margin-top: 30px;
}

.fullscreen__link {
  font-family: Lato-r;
  font-size: 20px;
  letter-spacing: -0.5px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.fullscreen__link:hover {
  color: #c3cf13;
}

.fullscreen__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.4375%;
          flex: 0 0 48.4375%;
}

.text-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 7.8125%;
  text-transform: uppercase;
}

.text-caption__caption {
  font-family: Lato-r;
  font-size: 36px;
  color: #ffffff;
  white-space: nowrap;
}

.text-caption__title {
  font-family: Lato-b;
  font-size: 117px;
  font-weight: 900;
  letter-spacing: -3px;
  color: #ffffff;
  white-space: nowrap;
  margin: 20px 0;
}

.text-caption__subtitle {
  font-family: Lato-i;
  font-size: 20px;
  color: #ffffff;
}

.text-caption__btn {
  margin-top: 40px;
}

.btn-red {
  font-family: Lato-r;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  color: #ffffff;
  padding: 23px 27px;
  background: #ce0000;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-red:hover {
  color: #c3cf13;
}

.page {
  background: #1b1b1b;
  color: #fff;
}

.customer {
  position: relative;
  top: -50px;
  z-index: 2;
}

.customer__container {
  background: #ce0000;
  padding: 60px 50px 40px 40px;
}

.customer__title {
  font-family: Lato-bl;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.customer__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.customer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.33333%;
          flex: 0 0 23.33333%;
}

.customer__slider-body {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53.16239%;
          flex: 0 0 53.16239%;
  margin-left: 13%;
  margin-top: 5%;
  -webkit-transform: rotate(4deg) scale(1.3);
      -ms-transform: rotate(4deg) scale(1.3);
          transform: rotate(4deg) scale(1.3);
}

.slider-text__title {
  font-family: Lato-b;
  font-size: 29px;
  font-weight: bold;
}

.slider-text__text {
  font-family: Lato-r;
  font-size: 17px;
  margin: 30px 0;
}

.btn-white {
  font-family: Lato-r;
  font-size: 17px;
  padding: 14px 16px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  background: transparent;
}

.slider-body {
  position: relative;
}

.slider-body__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
}

.slider-body__container {
  overflow: hidden;
}

.slider-body__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-body__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-bottom: 50%;
  border: 10px solid #fff;
}

.next {
  right: -30px;
}

.prev {
  left: -30px;
}

.image-block {
  padding-top: 40px;
}

.image-block__title {
  font-family: Lato-b;
  font-size: 51px;
  font-weight: bold;
  letter-spacing: -1.29px;
  color: #ffffff;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.image-block__subtitle {
  font-family: Lato-r;
  font-size: 20px;
  margin-bottom: 130px;
  font-size: calc(16px + (5 + 5 * 0.7) * ((100vw - 320px) / 1200));
}

.image-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-transform: translateY(15%);
      -ms-transform: translateY(15%);
          transform: translateY(15%);
}

.image-block__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding-bottom: 20%;
}

.image-block__item:nth-child(2) {
  -webkit-transform: translateY(-15%);
      -ms-transform: translateY(-15%);
          transform: translateY(-15%);
}

.block-info {
  padding: 140px 0px 110px 0px;
  background: url(../img/nature-bg.jpg) center/cover no-repeat;
}

.block-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-info__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.17094%;
          flex: 0 0 40.17094%;
}

.info-item__tite {
  font-family: Lato-b;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: -0.74px;
  text-transform: uppercase;
}

.info-item__subtitle {
  margin: 40px 0px 30px 0px;
  font-family: Lato-r;
  font-size: 17px;
}

.rewiev {
  padding: 80px 0px 70px 0px;
  background: url(../img/bike-fl-bg.jpg) center/cover no-repeat;
}

.rewiev__slider {
  position: relative;
}

.rewiev__arrow--next {
  position: absolute;
  margin-top: 20px;
  left: 45%;
  font-size: 20px;
}

.rewiev__arrow--prev {
  position: absolute;
  margin-top: 20px;
  left: 55%;
  font-size: 20px;
}

.slider-rewiev__container {
  position: relative;
  overflow: hidden;
}

.slider-rewiev__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rewiev-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
}

.rewiev-slide__img {
  -ms-flex-item-align: center;
      align-self: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
}

.rewiev-slide__text {
  margin: 36px 0;
  font-family: Lato-l;
  font-style: italic;
  font-size: 20px;
  line-height: 140%;
}

.rewiev-slide__title {
  font-family: Lato-bl;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.51px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 200%;
}

.rewiev-slide__caption {
  font-family: Lato-r;
  font-size: 18px;
  letter-spacing: -0.51px;
}

.bike {
  padding: 170px 0px 140px 0px;
  background: url(../img/mountain-bg.jpg) center/cover no-repeat;
}

.bike__container {
  max-width: 1328px;
  padding: 0 15px;
  margin: 0 auto;
}

.bike__title {
  font-family: Lato-b;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.bike__text {
  text-align: center;
  font-family: Lato-r;
  font-size: 20px;
  margin: 50px 0;
}

.bike__arrow--prev {
  position: absolute;
  top: 40%;
  cursor: pointer;
  font-size: 25px;
  left: 0px;
}

.bike__arrow--next {
  position: absolute;
  top: 40%;
  cursor: pointer;
  right: 0px;
  font-size: 25px;
}

.slider-bike {
  position: relative;
}

.slider-bike__container {
  width: 92%;
  overflow: hidden;
  margin: 0 auto;
}

.slider-bike__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-bike__slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.slider-bike__img {
  text-align: center;
  padding-bottom: 80%;
}

.slider-bike__btn {
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slide-btn {
  padding: 17px 20px;
  font-size: 18px;
}

.club__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.club__text {
  background: #ce0000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: calc(10px + (50 - 10) * ((100vw - 320px) / (1600 - 320)));
  padding-top: calc(10px + (50 - 10) * ((100vw - 320px) / (1600 - 320)));
  padding-right: calc(10px + (50 - 10) * ((100vw - 320px) / (1600 - 320)));
  padding-bottom: calc(10px + (50 - 10) * ((100vw - 320px) / (1600 - 320)));
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3125%;
          flex: 0 0 33.3125%;
}

.club__text-title {
  font-family: Lato-b;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 42px;
  text-transform: uppercase;
}

.club__text-text {
  font-family: Lato-b;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 42px;
  line-height: 130%;
  text-transform: uppercase;
}

.club__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.club__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.club__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.newsletter {
  background: url(../img/bike-fl-bg.jpg) center/cover no-repeat;
  padding: 135px 0;
}

.newsletter__title {
  font-family: Lato-b;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 42px;
  text-transform: uppercase;
}

.newsletter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newsletter__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35.29915%;
          flex: 0 0 35.29915%;
  font-family: Lato-b;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 130%;
  text-transform: uppercase;
}

.newsletter__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.97436%;
          flex: 0 0 58.97436%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid #aaaaaa;
}

.newsletter__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  display: block;
  background: transparent;
  font-size: 17px;
  color: #fff;
  padding: calc(5px + (20 - 5) * ((100vw - 320px) / (1600 - 320)));
}

.newsletter__input:focus {
  outline: 1px solid #2eec09;
}

.newsletter__input:focus::-webkit-input-placeholder {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.newsletter__input:focus::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
  transform: scaleY(0);
}

.newsletter__input:focus:-ms-input-placeholder {
  -ms-transition: 0.3s;
  transition: 0.3s;
  -ms-transform: scaleY(0);
      transform: scaleY(0);
}

.newsletter__input:focus::-ms-input-placeholder {
  -ms-transition: 0.3s;
  transition: 0.3s;
  -ms-transform: scaleY(0);
      transform: scaleY(0);
}

.newsletter__input:focus::placeholder {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}

.newsletter__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding: calc(5px + (20 - 5) * ((100vw - 320px) / (1600 - 320)));
}

.footer {
  padding: 110px 0px 170px 0px;
  background: url(../img/footer-bg.jpg) center/cover no-repeat;
  color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28%;
          flex: 0 0 28%;
}

.footer__title {
  font-family: Lato-bl;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer__text-caption {
  font-family: Lato-r;
  font-size: 17px;
  line-height: 130%;
  color: #858585;
}

.footer__btn {
  margin-top: 50px;
}

.footer__btn button {
  padding: 15px 20px;
  font-size: 16px;
}

.footer__event {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28%;
          flex: 0 0 28%;
}

.footer__contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

.event-item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event-item__date {
  width: 63px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  background: #ee0f0f;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px #ce0000;
          box-shadow: 0 0 20px #ce0000;
}

.event-item__monath {
  font-size: 13px;
  line-height: 160%;
}

.event-item__day {
  font-size: 33px;
}

.event-item__text {
  font-family: Lato-r;
  font-size: 14px;
}

.event-item__title {
  font-family: Lato-b;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.contact-footer__link {
  font-family: Lato-b;
  font-size: calc(15px + 25 * (100vw / 1600));
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contact-footer__link:hover {
  color: #96ee08;
}

.adress__title {
  margin-top: 20px;
  font-family: Lato-b;
  font-size: 16px;
  color: #fff;
}

.adress__text {
  margin-top: 20px;
  font-family: Lato-r;
  font-size: 16px;
  color: #858585;
  line-height: 140%;
}

.adress__city {
  font-family: Lato-r;
  font-size: 16px;
  color: #858585;
}

.email-footer {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.email-footer__caption {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.email-footer__links {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.email-footer__link {
  display: block;
  color: #fff;
  font-size: 15px;
  line-height: 150%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.email-footer__link:hover {
  color: #96ee08;
}

.copyright {
  text-align: center;
  font-size: 20px;
  color: #ce0000;
  padding: 20px 0;
  background: #000;
  line-height: 150%;
}

@media (min-width: 960px) {
  .mob-menu {
    display: none;
  }
}

@media (max-width: 1224px) {
  .slide-btn {
    font-size: 16px;
    padding: 10px 15px;
  }
}

@media (max-width: 1200px) {
  .fullscreen__menu {
    padding-top: calc(22px + (60 - 20) * ((100vw - 320px) / (1600 - 320)));
    padding-right: calc(20px + (100 - 20) * ((100vw - 320px) / (1500 - 320)));
  }

  .text-caption {
    margin-left: 5%;
  }

  .text-caption__caption {
    font-size: calc(16px + 20 * (100vw / 1600));
  }

  .text-caption__title {
    font-size: calc(30px + 80 * (100vw / 1600));
  }

  .text-caption__subtitle {
    font-size: calc(16px + 5 * (100vw / 1600));
  }
}

@media (max-width: 1124px) {
  .club__text-title {
    font-size: 34px;
    margin-bottom: 35px;
  }

  .club__text-text {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .newsletter__title {
    font-size: 34px;
    margin-bottom: 35px;
  }
}

@media (max-width: 1024px) {
  .customer__title {
    font-size: 30px;
  }

  .customer__slider {
    margin-top: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .customer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }

  .customer__slider-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }

  .slider-text__title {
    font-size: 22px;
  }

  .slider-text__text {
    font-size: 16px;
    margin: 22px 0;
  }

  .btn-white {
    font-size: 16px;
    padding: 10px 13px;
  }

  .slider-body {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    margin-top: 0;
    margin-left: 0;
  }

  .image-block__title {
    line-height: 130%;
    font-size: calc(24px + (22 + 22 * 0.7) * ((100vw - 320px) / 1600));
  }

  .image-block__subtitle {
    margin-bottom: calc(42px + (130 - 32) * ((100vw - 320px) / (1600 - 320)));
  }

  .info-item__tite {
    font-size: calc(18px + (12 + 12 * 0.7) * ((100vw - 320px) / 1600));
  }

  .bike {
    padding-top: calc(35px + (170 - 45) * ((100vw - 320px) / (1600 - 320)));
    padding-bottom: calc(25px + (140 - 35) * ((100vw - 320px) / (1600 - 320)));
  }

  .bike__title {
    font-size: 32px;
  }

  .bike__text {
    font-size: 18px;
    margin: 30px 0;
  }

  .slider-bike__container {
    width: 89%;
  }

  .club__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .newsletter {
    padding: 115px 0;
  }

  .newsletter__text {
    font-size: 16px;
  }

  .newsletter__button {
    font-size: 15px;
  }

  .footer__title {
    font-size: 18px;
  }

  .footer__text-caption {
    font-size: 16px;
  }

  .event-item__date {
    width: 50px;
    height: 50px;
  }

  .event-item__day {
    font-size: 25px;
  }
}

@media (max-width: 1024px) and (max-width: 475px) {
  .btn-white {
    padding: 8px 10px;
  }
}

@media (max-width: 768px) {
  .fullscreen__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }

  .text-caption {
    margin-left: 30px;
  }

  .text-caption__caption {
    font-size: 20px;
    white-space: pre-wrap;
  }

  .text-caption__title {
    font-size: calc(32px + (30 + 30 * 0.7) * ((100vw - 320px) / 1600));
  }

  .text-caption__subtitle {
    font-size: 16px;
  }

  .btn-red {
    padding: 14px 18px;
  }

  .customer {
    top: 0;
  }

  .customer__container {
    padding: 30px 40px 20px 20px;
  }

  .customer__title {
    font-size: 23px;
  }

  .slider-text__title {
    font-size: 18px;
  }

  .image-block__title {
    margin-bottom: 15px;
  }

  .image-block__item {
    padding-bottom: 30%;
  }

  .block-info {
    padding: 70px 0px 50px 0px;
  }

  .block-info__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-info__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    margin-bottom: 50px;
  }

  .info-item__subtitle {
    font-size: 16px;
    margin: 20px 0px 10px 0px;
  }

  .bike__title {
    font-size: calc(20px + (10 + 10 * 0.7) * ((100vw - 320px) / 1600));
  }

  .bike__text {
    font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1600));
    margin: 20px 0;
  }

  .slider-bike__container {
    width: 85%;
    margin-top: 30px;
  }

  .club__text-title {
    font-size: calc(22px + (22 + 22 * 0.7) * ((100vw - 320px) / 1200));
    margin-bottom: 25px;
  }

  .club__text-text {
    font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 320px) / 1600));
    margin-bottom: 25px;
  }

  .club__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .club__img:last-child {
    display: none;
  }

  .newsletter {
    padding: 70px 0;
  }

  .newsletter__title {
    font-size: calc(22px + (22 + 22 * 0.7) * ((100vw - 320px) / 1200));
    margin-bottom: 25px;
  }

  .newsletter__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .newsletter__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    margin-bottom: 20px;
  }

  .newsletter__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }

  .footer {
    padding: 60px 0px 80px 0px;
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .footer__event {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .footer__contact {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }

  .copyright {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .customer__container {
    padding: 30px 20px 20px 20px;
  }

  .customer__slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .customer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }

  .customer__slider-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .club__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }

  .newsletter__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 500px) {
  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    margin-bottom: 20px;
  }

  .footer__title {
    margin-bottom: 20px;
  }

  .footer__event {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    margin-top: 30px;
  }

  .footer__contact {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    margin-top: 20px;
  }

  .adress__text {
    margin-top: 10px;
  }
}

@media (max-width: 475px) {
  .header {
    padding: 15px 0;
  }

  .header__logo {
    font-size: 23px;
  }

  .header__icon {
    font-size: 18px;
  }

  .header__icon:not(:first-child) {
    margin-left: 10px;
  }

  .fullscreen__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }

  .text-caption {
    margin-left: 15px;
  }

  .btn-red {
    font-size: 16px;
    padding: 11px 15px;
  }

  .customer__title {
    line-height: 130%;
    text-align: center;
    font-size: 20px;
  }

  .customer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }

  .slider-body__slide {
    border: 5px solid #fff;
    padding-bottom: 60%;
  }

  .block-info__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }

  .club__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .club__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .newsletter__title {
    text-align: center;
  }

  .newsletter__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    text-align: center;
  }

  .newsletter__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: none;
  }

  .newsletter__input {
    outline: 1px solid #aaaaaa;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin-bottom: 20px;
  }

  .newsletter__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@supports (-webkit-appearance:none){
.fullscreen{background:url(../img/fulls-bg.webp) center/cover no-repeat}
.block-info{background:url(../img/nature-bg.webp) center/cover no-repeat}
.rewiev{background:url(../img/bike-fl-bg.webp) center/cover no-repeat}
.bike{background:url(../img/mountain-bg.webp) center/cover no-repeat}
.newsletter{background:url(../img/bike-fl-bg.webp) center/cover no-repeat}
.footer{background:url(../img/footer-bg.webp) center/cover no-repeat}
}

 @media (min-width: 960px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1224px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1124px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px) and (max-width: 475px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 475px){

@supports (-webkit-appearance:none){

}

}
